.skills_lines{
    padding: 10px;
    margin-left: -50px;
    margin-top: 20px;
    ul{
        li{
            line-height: 25px;      
            letter-spacing: .5px;
            margin-top: 1px;     
        }
    }
}